sudeep-github-bucket/sudeep-github-flow.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1734066812682,
    "description" : "github flow created by sudeep",
    "identifier" : "sudeep-github-flow",
    "lastModifiedTimestamp" : 1734066812682,
    "name" : "sudeep github flow",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "id" : "ee051856-5a6c-3f1e-b213-67b9cb7a5d11",
        "name" : "Log Attribute Input Port",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a9f321f6-3dd5-3d5f-926b-50a88591a940",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
        "id" : "9f2eb0b7-d7a9-3883-b49a-413800b2cce9",
        "name" : "Count Text Output Port",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "sudeep github process",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
          "id" : "6b721f00-1722-327d-8ccb-d2aa128ea430",
          "name" : "CountText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
        "identifier" : "136d964f-294f-3b5d-8b3f-7a02d058b46b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
          "id" : "419bf095-be94-338c-b069-9a72aa39ee37",
          "name" : "GetFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
          "id" : "9f2eb0b7-d7a9-3883-b49a-413800b2cce9",
          "name" : "Count Text Output Port",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
        "identifier" : "02053121-ad37-3783-afc6-840b329921ad",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
          "id" : "6b721f00-1722-327d-8ccb-d2aa128ea430",
          "name" : "CountText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Count Text",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
        "identifier" : "9f2eb0b7-d7a9-3883-b49a-413800b2cce9",
        "name" : "Count Text Output Port",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 64.0,
          "y" : -416.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : -248.0,
        "y" : -1224.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
        "identifier" : "6b721f00-1722-327d-8ccb-d2aa128ea430",
        "maxBackoffPeriod" : "10 mins",
        "name" : "CountText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 0.0,
          "y" : -664.0
        },
        "properties" : {
          "ajust-immediately" : "false",
          "character-encoding" : "UTF-8",
          "text-line-count" : "true",
          "text-character-count" : "true",
          "text-line-nonempty-count" : "false",
          "text-word-count" : "true",
          "split-words-on-symbols" : "false"
        },
        "propertyDescriptors" : {
          "ajust-immediately" : {
            "displayName" : "Call Immediate Adjustment",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "ajust-immediately",
            "sensitive" : false
          },
          "character-encoding" : {
            "displayName" : "Character Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-encoding",
            "sensitive" : false
          },
          "text-line-count" : {
            "displayName" : "Count Lines",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "text-line-count",
            "sensitive" : false
          },
          "text-character-count" : {
            "displayName" : "Count Characters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "text-character-count",
            "sensitive" : false
          },
          "text-line-nonempty-count" : {
            "displayName" : "Count Non-Empty Lines",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "text-line-nonempty-count",
            "sensitive" : false
          },
          "text-word-count" : {
            "displayName" : "Count Words",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "text-word-count",
            "sensitive" : false
          },
          "split-words-on-symbols" : {
            "displayName" : "Split Words on Symbols",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "split-words-on-symbols",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.CountText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "df7fa2e3-caa4-3673-b3c2-5b84f143c2b4",
        "identifier" : "419bf095-be94-338c-b069-9a72aa39ee37",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GetFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -8.0,
          "y" : -936.0
        },
        "properties" : {
          "Keep Source File" : "false",
          "Minimum File Age" : "0 sec",
          "Polling Interval" : "0 sec",
          "Input Directory" : "/home/sudeep/Downloads/input",
          "Batch Size" : "10",
          "Minimum File Size" : "0 B",
          "Ignore Hidden Files" : "true",
          "Recurse Subdirectories" : "true",
          "File Filter" : "[^\\.].*"
        },
        "propertyDescriptors" : {
          "Keep Source File" : {
            "displayName" : "Keep Source File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Keep Source File",
            "sensitive" : false
          },
          "Minimum File Age" : {
            "displayName" : "Minimum File Age",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Minimum File Age",
            "sensitive" : false
          },
          "Polling Interval" : {
            "displayName" : "Polling Interval",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Polling Interval",
            "sensitive" : false
          },
          "Input Directory" : {
            "displayName" : "Input Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Input Directory",
            "sensitive" : false
          },
          "Maximum File Age" : {
            "displayName" : "Maximum File Age",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Age",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Maximum File Size" : {
            "displayName" : "Maximum File Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Size",
            "sensitive" : false
          },
          "Minimum File Size" : {
            "displayName" : "Minimum File Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Minimum File Size",
            "sensitive" : false
          },
          "Ignore Hidden Files" : {
            "displayName" : "Ignore Hidden Files",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Ignore Hidden Files",
            "sensitive" : false
          },
          "Recurse Subdirectories" : {
            "displayName" : "Recurse Subdirectories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Recurse Subdirectories",
            "sensitive" : false
          },
          "File Filter" : {
            "displayName" : "File Filter",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Filter",
            "sensitive" : false
          },
          "Path Filter" : {
            "displayName" : "Path Filter",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Filter",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GetFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
          "id" : "61d44c08-3ac5-3747-a9d1-867b499d6409",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "6813503c-d0ed-386b-807f-36cae0b52158",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
          "id" : "ee051856-5a6c-3f1e-b213-67b9cb7a5d11",
          "name" : "Log Attribute Input Port",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
          "id" : "bf249b8e-6ce8-36ee-b589-c040feeb8fa5",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "9bac5b1e-ca79-349d-8702-69aa6c6b5270",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
          "id" : "61d44c08-3ac5-3747-a9d1-867b499d6409",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
          "id" : "9581e1e8-8745-3390-9765-9d095e2dd3b6",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "e7bca940-723d-3fda-a976-4d11b80400b9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
          "id" : "bf249b8e-6ce8-36ee-b589-c040feeb8fa5",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "ee051856-5a6c-3f1e-b213-67b9cb7a5d11",
        "name" : "Log Attribute Input Port",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -688.0,
          "y" : -48.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Log Attribute",
      "outputPorts" : [ ],
      "position" : {
        "x" : -136.0,
        "y" : -792.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "9581e1e8-8745-3390-9765-9d095e2dd3b6",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -720.0,
          "y" : 616.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "Attributes to Log" : "hello.file, text.word.count, text.character.count",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "bf249b8e-6ce8-36ee-b589-c040feeb8fa5",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -712.0,
          "y" : 360.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "/home/sudeep/Downloads/output",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b3f9f9f7-57aa-30c3-8d3b-2d86027ed99d",
        "identifier" : "61d44c08-3ac5-3747-a9d1-867b499d6409",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -720.0,
          "y" : 128.0
        },
        "properties" : {
          "Delete Attributes Expression" : "text.line.count",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "hello.file" : "hello ${filename}"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "hello.file" : {
            "displayName" : "hello.file",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "hello.file",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "sudeep",
    "flowIdentifier" : "sudeep-github-flow",
    "timestamp" : 0
  }
}